[2020-01-02 16:13] joroKr21 commented on #771
Minor correction - `Getter[-A, +B]` does not preclude invariant `Lens[A, B] extends Getter[A, B]` but I think it's better to keep polymorphic lenses anyway.

To me both `Zippable` and `Applicative` look simpler and more powerful than the PoC of `Traversal` in #752 so :+1: for that.

[2020-01-02 16:54] julien-truffaut commented on #771
@joroKr21 good point, thanks for calling me bluff! I was so sure it wouldn't work that I didn't check.

By curiosity, why do you think it is better to keep polymorphic optics? Have you used them in their current form? Do you think variance will make them more usable?

Regarding Traversal encoding, there is a dedicated issue here https://github.com/julien-truffaut/Monocle/issues/766

[2020-01-02 17:19] joroKr21 commented on #771
To be fair no, I only had practical use for monomorphic optics. But the polymorphic optics _are_ more general whereas it _feels_ that variance would indeed make them more useful and that there is a higher chance to solve the compose explosion. Perhaps comparing side by side a monomorphic vs polymorphic hierarchy would be most illuminating but that sounds like a lot of work.

[2020-01-02 17:27] joroKr21 commented on #771
To be fair no, I only had practical use for monomorphic optics. But the polymorphic optics _are_ more general whereas it _feels_ that variance would indeed make them more useful and that there is a higher chance to solve the compose explosion.

[2020-01-03 13:04] jdegoes commented on #766
The smallest / simplest possible type class that has the same expressive power as `Applicative`:

[code]

One could derive `Zippable` in third-party modules for both Cats & Scalaz `Applicative`, as well as include instances of `Zippable` for collection data types inside Monocle.

One could also go two other directions:

First, recognize the features allowed by `modifyF`:

[code]

These include, pr

[2020-01-03 14:33] adamgfraser commented on #771
I spent some more time on this and I believe the below encoding inspired by @Odomontois's `tofu-optics` library would allow us to have one way to compose all optics, assuming we use sub-typing as discussed above. Basically, this takes advantage of the insight that when we compose two optics the composed optic always has the type of the "weaker" of the two optics. I think having one way to compose

[2020-01-03 15:04] julien-truffaut commented on #771
Thanks @adamgfraser, it is definitely worth investigating. Is the variance in optics type parameters help in your snippet? Or is it enough to have inheritance between optics?

It is still not clear to me where variance helps for optics type inference. It completely makes sense in ZIO (or fs2) but I believe it is because type parameters are independent of one another (they encode different things l

[2020-01-03 15:48] julien-truffaut commented on #771
I started playing with your proposal Adam and I got the following error:
[code]

It seems that's where variance in optics will help. I will give it a try.

[2020-01-03 16:14] jdegoes commented on #771
@julien-truffaut Variance should not decrease type inference and could in some cases help; probably to achieve significant improvement (i.e. full inference in things like fields), it would be necessary to add even more type parameters (beyond STAB).

[2020-01-03 16:26] julien-truffaut commented on #771
Variance does not decrease type inference, that's for sure. However, I am not convinced adding type parameters improve it. I would be happy to be proven wrong but so far, I haven't seen a single example of polymorphic optics having better type inference.

I tried to implement @adamgfraser proposal here but I am getting type inference issues when I try to compose a `Lens` with `Prism.some`, see [ex

[2020-01-03 16:31] jdegoes commented on #771
Variance will not improve type inference for monomorphic optics, because they become invariant, but it should for polymorphic optics; although it does give you the ability to relate optics (e.g. optic 1 is a subtype of optic 2), which could be useful.

What Adam and I found was "polymorphic optics" were insufficiently polymorphic to permit full inference. But if you don't like 4 type parameters, y

[2020-01-03 16:43] julien-truffaut commented on #771
@jdegoes that's exactly what I am talking about. So far I haven't seen an example of better type inference when adding type parameters.

More type parameters make the code more difficult to read, so I believe it should bring some benefits in order to compensate for the additional complexity. I know you have similar opinions.

[2020-01-04 10:47] joroKr21 commented on #766
You could also use a collection as `F[_]` to return variants of modifications. Or perhaps a generator for testing. `Zippable` looks better to me.

[2020-01-04 11:10] joroKr21 commented on #771
This issue is quite annoying here: scala/bug#11789

[2020-01-04 14:49] julien-truffaut opened #788 "Error reporting"
I started to play with an encoding of `Prism` and `Optional` that can provide details when these optics fail ([branch](https://github.com/julien-truffaut/Monocle/tree/error-reporting)).

[code]

Here are some examples:

[code]

Names need to be changed.

[2020-01-06 14:14] neko-kai commented on #766
@julien-truffaut You could define your own Applicative typeclass and then define Optional Instances in the companion object to convert cats and scalaz classes into yours.

See encoding of DIEffect: https://github.com/7mind/izumi/blob/ea72bbb3239b1727a9d0f8993325061fd17873a5/distage/distage-core-api/src/main/scala/izumi/distage/model/effect/DIEffect.scala#L131 , `distage` and `logstage` libraries d

[2020-01-07 13:22] julien-truffaut commented on #785
fixed in #789 for the 2 dot-syntax methods

[2020-01-07 13:22] #785 closed

[2020-01-09 03:29] enzief opened #792 "reference to Functor is ambiguous in GenLens macros"
`import cats.Functor` can cause name conflict when there's another `Functor` in scope:
https://github.com/julien-truffaut/Monocle/blob/94dfb513d26ed3566ba7374c534a22ed772b83b1/macro/src/main/scala/monocle/macros/internal/Macro.scala#L78

[code]

[code]

[2020-01-09 09:24] #792 closed

[2020-01-09 14:13] julien-truffaut opened #794 "Bug fix release 2.0.1"
Should include https://github.com/julien-truffaut/Monocle/pull/793 and all other backward compatible changes.

[2020-01-09 18:42] debian0501 commented on #768
I’d like to do some beginner task. Is it possible to help here? Or is this task already in progress?

[2020-01-09 20:48] julien-truffaut commented on #794
@enzief 2.0.1 is released, can you please check it fixes your issue?

I will make a release note tomorrow.

[2020-01-09 21:13] julien-truffaut commented on #768
@debian0501 please go-ahead.

[2020-01-09 21:25] julien-truffaut opened #798 "Switch 3.x to Dotty only"
I did some experiment with Dotty in the following repo: https://github.com/julien-truffaut/Monocly

The type inference is so much better in Dotty than it looks like we can have fully inferred polymorphic optics, here is an example: https://github.com/julien-truffaut/Monocly/blob/master/src/main/scala/Main.scala#L19

Since the type inference drives a significant portion of our design decisions, I t

[2020-01-10 05:18] aku258 commented on #768
Hello, Is this issue still up for grabs. If yes, I'd like to work on it

[2020-01-10 09:42] julien-truffaut commented on #768
@aku258 I believe @debian0501 started to work on it. I will try to add other beginner-friendly issues ASAP. Thanks for your interest.

[2020-01-10 09:53] Odomontois commented on #771
I should add that optics variance is irrelevant to composition unification.
But the subtyping hierarchy is essential.

[2020-01-10 10:05] Odomontois commented on #770
I have at least two places where I moved from monocle to my own tofu-optics because I had to write
`Functor[...].compose[...].compose[...].compose[...].map`
Instead of some nice applied optics
I've designed some scary approach here
https://github.com/TinkoffCreditSystems/tofu/blob/master/optics/core/src/main/scala/tofu/optics/Applied.scala#L12
for this application that breaks polymorphic `Applied`

[2020-01-10 11:34] debian0501 commented on #768
I'm sorry. I tried to make the task, but unfortunately I do not understand where I have to do the changes. Perhaps my knowledge of Scala is not good enough. Therefore, feel free to hand the task to another person @aku258 . Sorry !

[2020-01-10 13:19] julien-truffaut commented on #768
It is probably because the description is not precise enough.

In practice, it means renaming all methods that start with `compose` to `andThen` in the following repository https://github.com/julien-truffaut/Monocle/tree/3.x/core/shared/src/main/scala/monocle

For example, if a method is called `composePrism`, it becomes `andThenPrism`.

[2020-01-10 19:15] debian0501 commented on #768
Okay, that sounds easy. Thanks 🙏

[2020-01-10 19:18] debian0501 commented on #768
Okay, that sounds easy, so I will give it a try

[2020-01-11 13:39] enzief commented on #794
Yes it works now on my end. Thank you!

[2020-01-12 06:04] debian0501 commented on #768
I only find two methods that start with compose: composeLens and composePrism in Optional.scala. Therefore I assume that the compose methods that do not have an addition should also be renamed. Example: Monocle/core/shared/src/main/scala/monocle/Iso.scala

[code]
is that correct?

[2020-01-12 07:54] julien-truffaut commented on #768
Correct

[2020-01-12 14:22] debian0501 commented on #768
I stumbled upon three methods. Unfortunately, I can't find their definition:
composeTraversal
composeOptional
composeIso

Where are these methods defined? And can I get the rights to push my branch?

[2020-01-12 14:59] julien-truffaut commented on #768
Yes the other methods hasn't been defined yet. We can do it in a separate PR.

We use the fork - pull request workflow such as you don't need to have right access to the main repo. Here are some documentation: https://gist.github.com/Chaser324/ce0505fbed06b947d962

[2020-01-12 17:30] enzief commented on #775
`modify` is like Functor's `map` which has a "set" called `as`:
[code]
That said, `replace` sounds very intuitive to me.

[2020-01-13 13:58] julien-truffaut commented on #756
Do we need to break binary compatibility to bump scala.js to 1.0.0-RC1? e.g. release Monocle 2.1.0-M0

[2020-01-13 14:01] cquiroz commented on #756
I don’t think you need another version number, it is another axis on the cross build matrix

[2020-01-14 21:20] julien-truffaut opened #801 "macro test module does not compile"
CI didn't pick it up but when I run sbt test, I get:

[code]

[2020-01-15 10:16] #768 closed

[2020-01-15 10:17] julien-truffaut opened #803 "Remove unused module"
In 3.x, we only have `core`, `dot-syntax`, `macro` modules. We should remove code for 2.x modules like `benchmark`, `doc`, `test`, `unsafe`, `state`.

[2020-01-15 11:53] cquiroz commented on #803
Do you think we should remove law as well?

[2020-01-15 13:02] julien-truffaut commented on #803
@cquiroz yes, you good point. Let's remove all dead code.

[2020-01-16 00:49] cquiroz commented on #801
it runs fine for me locally

[2020-01-16 08:39] #803 closed

[2020-01-16 13:49] julien-truffaut commented on #801
You're right. It worked after I run `sbt clean`

[2020-01-16 13:49] #801 closed

[2020-02-07 11:42] xuwei-k opened #818 "migrate to mdoc from tut"
- https://github.com/scalameta/mdoc
- https://github.com/tpolecat/tut
- https://scalameta.org/mdoc/docs/tut.html

[2020-03-02 00:29] xuwei-k commented on #756
- [ ] https://github.com/fthomas/refined/issues/744

[2020-03-04 13:35] matthughes commented on #756
Just bumping this now that Shapeless has been released for 1.0.0.  Can we list what other dependencies are needed here?

[2020-03-04 13:45] julien-truffaut commented on #756
@matthughes it seems `refined` is missing as per @xuwei-k comment above.

[2020-03-04 15:58] cquiroz commented on #756
`refined` should come soon, see https://github.com/fthomas/refined/pull/747

It is the last dependency to get monocle on 1.0

[2020-03-05 21:16] japgolly commented on #756
Btw before we're done, can we also please get 1.6.x published for SJS 1.0 too please? scalajs-react supports both the Cats versions (2.x) and the Scalaz versions (1.6.x) of Monocle.

[2020-03-10 13:30] julien-truffaut commented on #756
@japgolly I don't know how difficult will it be. Monocle 1.6 has a relatively old version of dependencies.

[2020-03-10 22:18] japgolly commented on #756
@julien-truffaut Yeah I appreciate that. If we can't publish all modules it would still be of tremendous value to publish at least the `monocle-core` and `monocle-macro` modules which I believe are dependency free. At a minimum it's those two in particular that are holding me up personally :( Would it be ok just to get those two published for now?

[2020-03-11 00:45] xuwei-k commented on #756
pull request for scalaz branch https://github.com/julien-truffaut/Monocle/pull/835

[2020-03-11 02:48] japgolly commented on #756
Oh wow thanks @xuwei-k !
I was actually expecting no one would be very interested, I'd just get conceptual blessing here and end up doing it myself a bit later. This is a wonderful surprise! Thank you @xuwei-k. ちなみに今年日本にいる予定がありますから、できればビールでも買ってあげます！

[2020-03-13 09:10] julien-truffaut commented on #756
Build is failing when I tried to release: https://travis-ci.org/github/julien-truffaut/Monocle/builds/661875342

[code]

[2020-03-13 09:48] cquiroz commented on #756
Probably Travis should be changed to use openjdk8 rather than oracle8

[2020-03-13 15:05] julien-truffaut commented on #756
Weird, I don't know why travis uses oracle8. openjdk8 is set up in `.travis.yaml` https://github.com/julien-truffaut/Monocle/blob/scalaz/.travis.yml#L8

[2020-04-27 06:18] japgolly commented on #756
Hi @julien-truffaut , would you mind trying again please? Looks like Travis have fixed their setup: https://travis-ci.org/github/japgolly/Monocle/builds/679949686

[2020-04-27 13:40] julien-truffaut commented on #756
I got the following error: https://travis-ci.org/github/julien-truffaut/Monocle/jobs/680109127

[2020-04-27 14:12] xuwei-k commented on #756
https://travis-ci.org/github/julien-truffaut/Monocle/builds/680125999
pushed v1.6.3 tag

[2020-04-27 15:01] xuwei-k commented on #756
https://repo1.maven.org/maven2/com/github/julien-truffaut/monocle-core_sjs1_2.13/1.6.3/

🎉

[2020-04-27 15:01] #756 closed

[2020-04-27 19:52] mikla commented on #756
@xuwei-k thank you!
Could you please cross-publish 1.6.3 also for Scala.js 0.6.x?

[2020-04-28 00:33] xuwei-k commented on #756
done

- https://travis-ci.org/github/julien-truffaut/Monocle/jobs/680352247
- https://github.com/julien-truffaut/Monocle/commit/491559cd170efe6b69262bb7c8029a7f464d77a3

[2020-04-28 07:11] japgolly commented on #756
Fantastic! Thanks so much all!

[2020-05-05 09:40] julien-truffaut opened #844 "Replace 3.x branch by Monocly"
I created [Monocly](https://github.com/julien-truffaut/Monocly) to experiment with optics encoding, type inference and macro with Dotty.

Here are a few features:

1. Inheritance between optics
1. Polymorphic optics with variance for all type parameters: `-S`, `+T`, `+A`, `-B`
1. Custom error reporting with extra type parameter `+Error`. A `Lens` is an `Optional` with `Error = Nothing`, same for `

[2020-05-08 17:15] julien-truffaut commented on #844
I am thinking it might be better to keep the two repositories separately until we get closer to Scala 3 release date. The benefit is that we can work on a new documentation website without affecting the current version of Monocle.

[2020-05-13 19:13] julien-truffaut commented on #818
Working on it in https://github.com/optics-dev/Monocle/pull/851

[2020-05-13 19:29] #818 closed

[2020-05-17 20:41] #844 closed

[2020-05-27 14:50] julien-truffaut opened #861 "Publish micro site is broken"
e.g. https://github.com/optics-dev/Monocle/runs/713390144
[code]

[2020-05-30 14:30] tpdi commented on #786
One thing I've done is to use a different, unsafe interface. This means the client programmer must explicitly indicate s/he wants to use unsafe operations, which a) removes any surprise on the part of the client programmers and b) makes it easier for them to search for unsafe usage later than by searching for each unsafe method name individually.

I've written up **two** examples here, one than ca

[2020-05-30 19:06] julien-truffaut commented on #786
@tpdi good idea, but one thing a bit annoying with that approach is that you don't know which methods may be unsafe. For example, you could refactor your code and not need it anymore but you wouldn't know.

[2020-05-30 19:44] tpdi commented on #786
I'm not sure I follow. Is "you" in this case the client programmer?I'd think they would know what's unsafe, because in order to call those methods, they'd first have to call .asUnsafe():var x = someLens()x.asUnsafe().unsafeMethod()Perhaps you're saying that if they write a method that relies on an unsafe method, their method might take a reference to the unsafe interface (rather than calling .asUn

[2020-06-03 12:53] julien-truffaut commented on #786
@tpdi Yes, I meant the user of the library may not know which method is safe or not. I see what you mean with disjoint interfaces but I see two issues:
1. we shouldn't allow going from `UnsafeOptic` to `SafeOptic`
1. it makes the API quite verbose

[2020-06-19 13:58] julien-truffaut opened #868 "Add Iso involution"
An involution is a method that is its own inverse, e.g. `f(f(x)) == x`

e.g. `List(1,2,3).reverse.reverse == List(1,2,3)`

We should be able to define:

[code]

Bonus point:
Could we refactor some optics to use `involution`?

[2020-09-20 14:17] bwiercinski opened #900 "Add manual for using @Lenses"
Both here:
https://www.optics.dev/Monocle/docs/optics/lens

and here:
https://github.com/optics-dev/Monocle/blob/master/macro/src/main/scala/monocle/macros/Lenses.scala

there is no info that I should add:
`addCompilerPlugin("org.scalamacros" % "paradise" % "2.1.1" cross CrossVersion.full)` in 2.12
or
compiler flag in 2.13.

i was getting:
`value _fieldName is not a member of object MyCaseClass`

[2020-09-20 14:58] julien-truffaut commented on #900
I believe this documentation is on the front page of Monocle website, but it could also be added to the `Lens` page.
Please feel free to send a PR.

Thank you.

<img width="1342" alt="Screenshot 2020-09-20 at 15 57 12" src="https://user-images.githubusercontent.com/1859417/93714349-fd62e780-fb59-11ea-9846-ec19d793ab24.png">

[2020-09-22 13:51] julien-truffaut opened #901 "Add `some` method to all optics"
I think this case is so common that it is worth the cost of a helper method.

Instead of `optic composePrism some`, user could do `optic.some`

What do you think?

[2020-09-22 13:57] cquiroz commented on #901
I'd use that a lot 😀

[2020-09-22 15:32] lancewalton commented on #901
Yes. Very useful.

[2020-09-30 18:30] bwiercinski commented on #900
@julien-truffaut  I've added https://github.com/optics-dev/Monocle/pull/903 can you check it out?

[2020-10-01 09:33] #900 closed

[2020-10-01 10:22] #901 closed

[2020-10-13 08:58] julien-truffaut commented on #861
fixed

[2020-10-13 08:58] #861 closed

[2020-10-13 08:58] #794 closed

[2020-10-13 08:58] julien-truffaut commented on #798
3.x development is in Monocly repo

[2020-10-13 08:58] #798 closed

[2020-10-13 08:59] julien-truffaut commented on #788
3.x development is in Monocly repo

[2020-10-13 08:59] #788 closed

[2020-10-13 08:59] julien-truffaut commented on #767
done

[2020-10-13 08:59] #767 closed

[2020-10-13 09:00] julien-truffaut commented on #688
moved to docusaurus

[2020-10-13 09:00] #688 closed

[2020-10-13 09:43] julien-truffaut opened #911 "Add release note for 2.1.0"

[2020-10-13 13:47] julien-truffaut opened #913 "Cross build to Scala 3"
The main issue is that macros are not compatible. We'll need to use the macro system, either in `core` or in a new `macro3` module.

Per module:

- [ ]  `core` https://github.com/optics-dev/Monocle/issues/925
- [ ]  `macro` https://github.com/optics-dev/Monocle/issues/927
- [ ] `refined`

[2020-10-14 12:16] #911 closed

[2020-10-21 07:53] julien-truffaut commented on #913
Maybe an intermediate milestone could be to cross build the core module

[2020-10-21 11:54] cquiroz commented on #913
I'd love to contribute, do you think this can be split in a few tasks?

[2020-10-21 12:04] julien-truffaut commented on #913
Yeah maybe one per module, what do you think?

[2020-10-22 07:14] julien-truffaut opened #925 "Cross build core module to Scala 3"

[2020-10-22 07:15] julien-truffaut opened #926 "Cross build generic module to Scala 3"

[2020-10-22 07:17] julien-truffaut opened #927 "Create new macro module for Scala 3"
Is it possible to define it in `core`?

Check out `Focus` macro in Monocly: https://github.com/optics-dev/Monocly/blob/f81a0471726dddccbef467670ef7ef888734249d/src/main/scala/optics/poly/GenLens.scala#L104

Macro annotations do not exist in Scala 3.

[2020-10-22 07:20] julien-truffaut commented on #913
@cquiroz I created a few issues and linked them to this ticket. I think it is best to start with `core`.

[2020-10-22 19:43] julien-truffaut commented on #925
Publish failed with
[code]

https://github.com/optics-dev/Monocle/runs/1294572044

[2020-10-23 01:19] cquiroz commented on #925
See
https://github.com/lampepfl/dotty/pull/9756

[2020-10-29 13:15] deenar commented on #901
+1

[2020-11-03 02:11] tonylotts commented on #775
The interface of `WriteOptic.set` has also tripped up myself and a colleague, in working with Optional.
Our use case is that we have a product type `A` with a `b: Option[B]` member.  We want to "set" a nested value of `b` in either case that it is `Some` or `None`; such that the resulting `A.b` is `Some[B]`, containing the nested set value .

I suggest:
- document this behaviour prominently,
- pro

[2020-11-03 08:43] julien-truffaut commented on #775
Thanks for your feedback @tonylotts. We plan to tackle your two points. In particular, we recently added two extension methods to all optics:  `some`  and `withDefault(defaultValue)`, so that you can do:
[code]

Here are some docs for `withDefault` https://github.com/optics-dev/Monocle/blob/master/core/shared/src/main/scala/monocle/std/Option.scala#L25-L43

Please let me know if that's seems clear

[2020-11-03 20:53] #868 closed

[2020-11-05 09:19] julien-truffaut opened #940 "Update the organisation to optics.dev"

[2020-11-05 12:22] cquiroz opened #941 "Switch to munit"
What do you think about moving away from scalatest to munit?
A question is on the amount of work required but I could give it a go

[2020-11-05 14:09] julien-truffaut commented on #941
Oh yes, that would be awesome. I wonder if it is the time to remove the `example` module? I think we should use the website instead of a specific module.

[2020-11-09 19:51] julien-truffaut commented on #940
Apparently It is a bad idea to change the organization without changing the package name
https://gitter.im/typelevel/general?at=5fa531d7f2fd4f60fc58fc19

[2020-11-09 19:51] #940 closed

[2020-11-11 11:52] cquiroz opened #946 "Failing test due to scalacheck change"
This one is odd. I think it is related to changes on Scalia check but I can't pinpoint the reason. Enabling it triggers an error during the generation of URIs

_Originally posted by @cquiroz in https://github.com/optics-dev/Monocle/pull/943#discussion_r519186127_

[2020-11-11 11:55] cquiroz opened #947 "Broken equalíty tests on the generated optics"
These are not working anymore, but TBH I don't know how could that have worked in the past

_Originally posted by @cquiroz in https://github.com/optics-dev/Monocle/pull/943#discussion_r519186081_

[2020-11-16 08:23] julien-truffaut opened #954 "Port Focus macro from Monocly"
@yilinwei prototype a great macro in [Monocly](https://github.com/optics-dev/Monocly/blob/master/src/main/scala/optics/poly/GenLens.scala) that allows writing optics this way:

[code]

The goal of this ticket is to implement `Focus` in the current version of Monocle, but for Scala 3 only. I guess we can implement it in two places:
1. in `core` module using a directory for Scala 3 (we used to have

[2020-11-16 16:22] julien-truffaut opened #955 "Add shortcut for index"
Add an extension method for all optics (`Lens`, `Iso`, ...) and apply optics (`ApplyLens`, `ApplyIso`) for `index` so that we can do:

[code]

instead of

[code]

This should be very similar to what we have done for `each`:
https://github.com/optics-dev/Monocle/blob/master/core/shared/src/main/scala/monocle/Lens.scala#L284
https://github.com/optics-dev/Monocle/pull/908/files (but we moved it to im

[2020-11-16 16:32] julien-truffaut opened #956 "Add shortcut for at"
Add an extension method for all optics (`Lens`, `Iso`, ...) and apply optics (`ApplyLens`, `ApplyIso`) for `at` so that we can do:

[code]

instead of

[code]

This should be very similar to what we have done for `each`:
https://github.com/optics-dev/Monocle/blob/master/core/shared/src/main/scala/monocle/Lens.scala#L284
https://github.com/optics-dev/Monocle/pull/908/files (but we moved it to impli

[2020-11-16 16:35] julien-truffaut opened #957 "Can we use singleton type to create At instance for tuples?"
For example, could we write:

[code]

Here is a library that uses singleton to look for examples https://github.com/travisbrown/sized

[2020-11-16 18:18] nafg commented on #957
[code]

[2020-11-16 18:25] nafg commented on #957
Actually SingletonAtMaterializer#apply wasn't serving any real purpose so...

[code]

[2020-11-16 18:29] nafg commented on #957
Alternatively, if a different name is chosen then the implicit conversion can be avoided and it's really simple:

[code]

[2020-11-17 15:27] julien-truffaut opened #961 "Deprecate set method and add replace"
`set` is a source of confusion because there is an implicit expectation it will insert data if it is missing, for example:

[code]

While most people expect `set` to return `User("John", Some("j@foo.com"))`.

I believe `replace` doesn't have the drawback.

1. deprecate `set` on all optics and apply optics that have it
1. add `replace` as an alias to set or the other way around (set as an alias to

[2020-11-17 18:02] asjad02 commented on #955
started working on this

[2020-11-17 18:19] julien-truffaut commented on #955
Thanks @asjad02, don't hesitate to ask if you have any questions. Here or on gitter.

[2020-11-19 10:09] julien-truffaut opened #964 "Add andThen on all optics"
Optics and functions compose in the same way

[code]

You may have noticed that the parameters of optics composition are the inverse of function composition. Optics composition looks more like `andThen` than `compose`.

[code]

Therefore, I propose to create a new overloaded method `andThen` and deprecate all the`composeX` methods later.

For example for lenses will have something like:

[code]

I

[2020-11-20 11:59] julien-truffaut opened #965 "Setup a way to measure macro performance"
@propensive created a library call (probably)[https://github.com/propensive/probably] that can measure how long it takes to generate macros.

It woould be useful to measure the performance of `GenLens` and compare it to the new `Focus` macro https://github.com/optics-dev/Monocle/issues/954.

See some discussion on Twitter: https://twitter.com/propensive/status/1329745251679035394

[2020-11-20 16:59] julien-truffaut commented on #964
I have started to work on this

[2020-11-21 23:11] ryan-richt commented on #215
Since this is the top search engine hit for monocle + option, maybe this belongs here...

Is it possible to create a single optic that, in the case of the target being a Some, we modify using a function, and in the case of a None, we set a different thing? Basically the equivalent of `myOption.fold(ifEmpty)(ifSome => newSome)` from the Scala standard library. I see some pieces ... choice / split /

[2020-11-22 16:54] julien-truffaut commented on #215
Hi @ryan-richt

Yes, we added a new method on all optics called `withDefault` that allows to specify a default value to use in case the `Option` is a `None`.

Here is a test example: https://github.com/optics-dev/Monocle/blob/master/test/shared/src/test/scala/monocle/TraversalSpec.scala#L172-L175

And here is some documentation related to this optic: https://github.com/optics-dev/Monocle/blob/mast

[2020-11-23 01:51] propensive commented on #965
Encouraged by this, I've just published Probably 0.8.0 which has simple support for running compiletime tests. You'll need to add a dependency on `com.propensive:probably-cli:0.8.0` and then,
[code]

Then, in your macro definition, wrap an expression you want to check with,
[code]

Currently the predicate on the check is required. It operates on the expression, and just returns a boolean. If you'r

[2020-11-30 17:47] #964 closed

[2020-12-01 22:31] #961 closed

[2020-12-02 03:59] nigredo-tori commented on #770
Just my two cents here. There are valid use cases that are not covered by monomorphic optics. For example, I have a hierarchy of data types like this (simplified):
[code]
where `A` represents some entity. I'd like to store a (partially) normalized variant in the database (`Foo[QuxId]` in one table, `Qux` in another one), and have an API that builds a `Foo[Qux]` out of that. Something like `def foo

[2020-12-02 08:33] julien-truffaut commented on #770
@nigredo-tori you are right, this could also be an option.

Actually, after playing with Dotty type inference, I believe we can make the full blown polymorphic optics work quite nicely in Scala 3, see this example https://github.com/optics-dev/Monocly/blob/master/src/main/scala/Main.scala#L21-L31

An advantage to keep polymorphic optics is that we can add variance annotations on each type paramete

[2020-12-02 09:37] sapizhak commented on #956
i have started working on this one

[2020-12-05 15:33] #957 closed

[2020-12-05 15:39] julien-truffaut commented on #955
@asjad02 It seems @sapizhak worked on this issue and #956 together. I hope you didn't invest too much time on it.

[2020-12-05 19:43] #457 closed

[2020-12-06 12:49] asjad02 commented on #965
picking this up

[2020-12-06 20:28] #955 closed

[2020-12-07 10:49] julien-truffaut opened #979 "Deprecate rarelly used features"
Early on the Monocle development, we added as many optics and combinators as we could possibly implement. But, this code needs to be maintained, tested and docummented which is pain, especially if no one use it. I propose that we drastically reduce the amount of code within Monocle and focus our effort in producing good user eperience and documentation for that subset. Here are the tentative list

[2020-12-07 12:17] cquiroz commented on #979
From these I have used I think `reverse`, `unsafe` and `state`, buti I agree that we could deprecate them

[2020-12-07 13:21] propensive commented on #965
Give me a shout if you need any help, @asjad02!

[2020-12-09 17:35] #956 closed

[2020-12-09 17:35] #941 closed

[2020-12-09 18:42] asjad02 commented on #965
@propensive
couldn't get the tabular output:: `sbt compile`, is there any additional info needed in build.sbt ([PR](https://github.com/optics-dev/Monocle/pull/985))

[2020-12-17 21:06] julien-truffaut commented on #926
We can probably drop this as we deprecated this module

[2020-12-17 21:06] #926 closed

[2020-12-17 21:07] julien-truffaut commented on #925
@cquiroz can we close this ?

[2020-12-17 21:07] julien-truffaut commented on #786
The plan for now is to add documentation.

[2020-12-17 21:07] #786 closed

[2020-12-17 21:08] #372 closed

[2020-12-17 21:08] cquiroz commented on #925
Yes

[2020-12-17 21:09] #925 closed

[2020-12-17 21:09] julien-truffaut commented on #298
Will review macro for Scala 3

[2020-12-17 21:09] #298 closed

[2020-12-17 21:09] julien-truffaut commented on #363
We will review macro for Scala 3

[2020-12-17 21:09] #363 closed

[2020-12-17 21:10] julien-truffaut commented on #281
No macro annotations in Scala 3

[2020-12-17 21:10] #281 closed

[2020-12-17 21:10] julien-truffaut commented on #221
We will review macros for Scala 3

[2020-12-17 21:10] #221 closed

[2020-12-17 21:12] julien-truffaut commented on #417
Fixed by addind `andThen` and shortcuts to optics like `each`, `index` or `at`

[2020-12-17 21:12] #417 closed

[2020-12-17 21:12] #507 closed

[2020-12-18 13:44] julien-truffaut opened #996 "Use inheritance between optics"
Currently, Optics have a few methods `asX`, e.g. `asTraverse`, `asOptional` on `Lens` to "upcast" optics.

Instead, we could introduce inheritance between optics, e.g.

[code]

Then we can deprecate all the `asX` methods.

[2020-12-18 13:47] julien-truffaut commented on #996
There is an issue with overriding `modifyF`

https://scastie.scala-lang.org/XVL7KRPEQo6wfRy3GgtUpw

[2020-12-18 17:34] julien-truffaut commented on #965
done, code is in this branch: https://github.com/optics-dev/Monocle/tree/benchmark-macro

Thanks @asjad02  and @propensive

[2020-12-18 17:44] asjad02 commented on #954
picking this one

[2020-12-23 20:21] #965 closed

[2020-12-23 20:54] julien-truffaut opened #1001 "Scalafix rules for Monocle 3"
Monocle 3 deprecates lots of methods, it would be great to use scalafix to automatically refactor the ones that have replacements. Here is a list of changes:

- [ ] `set` to `replace`
- [ ] `composeLens(at(x))` to `at(x)`
- [ ] `composeLens(first)` or `composeLens(_1)` to  `at(1)`
- [ ] `composeLens(second)` or `composeLens(_2)` to `at(2)`
- [ ] `composeLens(third)` or `composeLens(_3)` to `at(3)`

[2020-12-24 01:23] jdegoes commented on #996
Please do! 🙏

[2020-12-25 23:36] chaitanyawaikar commented on #1001
Do we have a list of `scalafix migration rules` that we need to apply for the project ?

[2020-12-26 11:11] julien-truffaut commented on #1001
@chaitanyawaikar no, sorry I am not familiar with scalafix.

[2020-12-27 09:47] julien-truffaut opened #1004 "Deprecate setOption in favor of replaceOption"

[2020-12-27 09:48] julien-truffaut commented on #1004
Similar to https://github.com/optics-dev/Monocle/issues/961

[2021-01-08 20:58] #1004 closed

[2021-01-21 11:30] julien-truffaut opened #1013 "Shall we base Foldable on `Iterator`?"
Currently `Fold` is based on `foldMap`

[code]

The problem is that `foldMap` is not lazy, so when we use `foldMap` to implement `headOption` or `find`, we need to traverse the entire dataset.

[code]

`counter` is equal to 4, we traverse the entire list.

An alternative encoding could be based on `Iterator` which would allow a simple and lazy implementation for `headOption`, `find`, and so on.

[

[2021-01-23 21:44] kitlangton opened #1014 "Consider `to` in addition to `andThen`"
I just wrote a [reddit comment](https://www.reddit.com/r/scala/comments/l1ugt5/monocle_3_roadmap/gkg7p2e/?utm_source=reddit&utm_medium=web2x&context=3) on this, but perhaps a GitHub issue would be a home for it 😄 . To paraphrase:

Monocle 3 is an extremely exciting direction for the library to take. I love everything about it.

One tiny suggestion, though it's syntactic and I'm quite cool either w

[2021-01-24 10:57] asjad02 commented on #927
picking this one

[2021-01-27 15:50] #1014 closed

[2021-01-27 15:51] kitlangton commented on #1014
Resolved here: https://reddit.com/r/scala/comments/l1ugt5/_/gkxgxu9/ 👍😎

[2021-01-27 16:15] julien-truffaut commented on #1014
Sorry @kitlangton, I swore I saw a comment from you but I couldn't remember where it was. I didn't check Monocle issues :(

[2021-02-03 14:49] julien-truffaut opened #1019 "Zip Lenses"
The idea is to compose `n` Lenses with the same starting type to obtain a single `Lens` targeting a tuple.

[code]

This operation can break the Lens laws if some Lenses intersect, e.g. two Lenses that point to the same field.

[code]

## API questions

- How many overloaded versions with different numbers of parameters should we create? e.g. zip 2 Lenses, zip 3 Lenses, zip 4 Lenses, …
    - Is th

[2021-02-03 15:27] julien-truffaut opened #1020 "OrElse on Optional"
Try one Optional, if it doesn’t work, try the next.

[code]

Is it a valid Optional? If not, we can add it but we need a document when it deviates from the standard behaviour.

[2021-02-03 15:35] #979 closed

[2021-02-03 19:11] dsebban commented on #1001
I will take this one

[2021-02-04 17:21] julien-truffaut opened #1022 "Rename `withDefault` to `getOrElse`"
We recently introduced `withDefault` https://github.com/optics-dev/Monocle/pull/886, a combinator that transform an `Optic[A, Option[B]]` into a `Optic[A, B]` if you pass a default value of type `B`.

@kenbot proposed to renamed it `getOrElse` since it offers a similar behaviour than `getOrElse` on the `Option` class.

What do you think?

[2021-02-04 17:23] cquiroz commented on #1022
I think I agree, it feels natural in scala and `withDefault` could have other interpretations depending on the context.

[2021-02-04 17:28] julien-truffaut commented on #1022
My only concern is that `Optional` and `Prism` have a method `getOption` which fetch the targeted data while `getOrElse` is an optic combinator. Would it be confusing? Here are the signatures:

[code]

My gut feeling is that it doesn't make much sense to call `getOption` on an Optional/Prism targeting an `Option` because you get back an `Option[Option[To]]`.

[2021-02-04 17:44] julien-truffaut opened #1023 "`filter` and `filterIndex` names are confusing"
`filter` and `filterIndex` are two optic combinators with similar name and behaviour but different types, which may be confusing.

[code]

It may be easier to see the confusion when we check the type of `filter` and `filterIndex` for `List`

[code]

[2021-02-08 11:09] julien-truffaut opened #1026 "`Focus` macro"
This ticket is here to track and prioritize Focus macro features:

- [ ] Single use focus pre-applied on a target using .focus(...)
- [ ] zoom into a branch of an enumeration/sealed trait using as (generate a monomorphic Prism)
- [ ] zoom into all the elements of a collection using each
- [ ] zoom into a single element of a collection using index or at
- [ ] zoom into an Option using withDefault(.

[2021-02-08 11:10] julien-truffaut opened #1027 "[Focus] Single-use with pre-applied target"
Julien had an idea:

It should be easy enough to spike up.

Original ticket: https://github.com/optics-dev/Monocly/issues/24

[2021-02-08 11:11] julien-truffaut opened #1028 "[Focus] add `as` for enumerations"
[code]

Operator to generate a Prism based on a type-cast.

I'm pretty sure that any type-cast gives us a Prism, so we shouldn't need to limit it to sealed hierarchies or enums.

[2021-02-08 11:12] julien-truffaut opened #1029 "[Focus] zoom into all the elements of a collection using each"
I think this differs from the idx and ? features in that it might result in a different kind of optic, and EPTraversal. Currently the code casts the whole macro to Lens[From,To] at the end, but now we don't know what the return is necessarily going to be.

We could use the new Scala 3 transparent keyword for "white box macro" methods,

[2021-02-08 11:13] julien-truffaut opened #1030 "[Focus] zoom into a single element of a collection using `index` or `at`"

[2021-02-08 11:14] julien-truffaut opened #1031 "[Focus] add `withDefault` feature"
`withDefault(...)` allows to fall back to a value in case the Option is a None.

[code]

`withDefault` generates an `Iso` which is not completely correct see example here https://github.com/optics-dev/Monocle/blob/a6506a3623455936947220ef15bb071c478727e3/core/shared/src/main/scala/monocle/std/Option.scala#L25-L41

[2021-02-08 11:15] julien-truffaut opened #1032 "[Focus] Generate Isos rather than Lenses for single-argument case classes"

[2021-02-08 11:18] julien-truffaut opened #1033 "[Focus] zoom into a common field of an enumeration"
[code]

Original issue: https://github.com/optics-dev/Monocly/issues/14

[2021-02-08 11:20] julien-truffaut opened #1034 "[Focus] Non-case class getters"
There's no reason not to allow plain old getter methods on non-case classes, generating a `Getter`. This is something that a user might reasonably guess is supported, and it seems unreasonably to make them bust out the Optics Family documentation to do it.

eg `Focus[String](_.length) // Getter[String,Int]`

Original issue: https://github.com/optics-dev/Monocly/issues/39

[2021-02-08 11:23] julien-truffaut opened #1035 "[Focus] Non-case class setters in?"
Dual to #1034, conceivably someone, wishing to have write-only semantics on their immutable data model, might implement their own copy method. I can't even think of a use case for a `Setter` optic to be honest, I'm sure this is extremely low priority, and I can't imagine user demand leading us here.

There's a little voice in my head complaining that `Setter` is the only optic inaccessible to the

[2021-02-08 11:25] julien-truffaut opened #1036 "[Focus] Support polymorphic optics for case classes"
Original issue: https://github.com/optics-dev/Monocly/issues/28

[2021-02-09 12:26] kenbot opened #1038 "monocle.syntax.ApplyXXX haven't applied S fully"
Most of the `monocle.syntax.ApplyXXX` classes have two methods like this:

[code]
They should pre-apply the `S` argument like everything else:
[code]

[2021-02-09 12:55] julien-truffaut commented on #1032
@kenbot `Iso` have a `replace` method https://github.com/optics-dev/Monocle/blob/master/core/shared/src/main/scala/monocle/Iso.scala#L79

`Iso extends Lens`, they are strictly more powerful.

[2021-02-09 14:49] julien-truffaut commented on #1032
I also get confused regularly!

[2021-02-09 18:22] julien-truffaut opened #1040 "Fix StringsSpec"
test commented out in https://github.com/optics-dev/Monocle/pull/1037

Issue with Arbitrary and refined

[2021-02-09 18:25] julien-truffaut opened #1041 "GenPrism for Scala 3"
Delegate `GenPrism[A, B]` in Scala 3 implementation to `Focus[A](_.as[B])`

Depend on https://github.com/optics-dev/Monocle/issues/1028

see for `GenLens` https://github.com/optics-dev/Monocle/blob/master/macro/src/main/scala-3.x/monocle.macros/GenLens.scala

[2021-02-09 18:26] julien-truffaut opened #1042 "GenIso for Scala 3"
Delegate `GenIso[A](_.foo)` in Scala 3 implementation to Focus[A](_.foo)

Depends on #1032

see for GenLens https://github.com/optics-dev/Monocle/blob/master/macro/src/main/scala-3.x/monocle.macros/GenLens.scala

[2021-02-09 18:27] julien-truffaut opened #1043 "GenIso.fields for Scala 3"
Generate an `Iso` between a case class and a tuple of all its fields.

https://github.com/optics-dev/Monocle/blob/12c89e1c5bcc95e121f1f548a28e463e25f12a15/macro/src/main/scala-2.x/monocle/macros/GenIso.scala#L23

For example

[code]

[2021-02-09 20:25] #1038 closed

[2021-02-09 22:03] #954 closed

[2021-02-10 11:22] julien-truffaut commented on #1023
IMO, `filter` and `filterIndex` should return the same optic types. For example for `List`
[code]

One way to get this is to rename the current `filter` method to `select` https://github.com/optics-dev/Monocle/blob/master/core/shared/src/main/scala/monocle/Lens.scala#L335-L336 and implement `filter` in terms of `each` and `select`

[code]

[2021-02-10 22:31] julien-truffaut commented on #1023
Yeah I completely agree, `filter` and `filterIndex` should return a `Traversal`.

`find` is a great name but we already have a method `find` on `Fold` and `Traversal` to fetch the first target that matches the predicate https://github.com/optics-dev/Monocle/blob/master/core/shared/src/main/scala/monocle/Traversal.scala#L50-L51

Maybe a real use case would help us to find a good name. I will try to

[2021-02-11 00:28] kenbot opened #1048 "Renaming optics type parameters"
The traditional STAB naming of type parameters is obscure and a barrier to learning.

Proposed new names:
`PLens[SourceIn, SourceOut, TargetOut, TargetIn]`
`Lens[Source, Target]`

to be applied consistently across all code.

Question: what should we do about short variable names or lambda arguments, where we normally would use `s`, `t`, `a` or `b`?

[2021-02-11 00:32] kenbot opened #1049 "Variance for optics type parameters"
Add variance to the optics type parameters, eg `[-S, +T, +A, -B]`.

Julien:

[2021-02-11 09:22] julien-truffaut commented on #1049
This can potentially be broken down into two parts:

1. for read only optics: `Getter` and `Fold` which only have two type parameters `-S` and `+A`
2. for other optics

[2021-02-11 09:28] julien-truffaut commented on #1048
Great idea, we should document whatever we decide for argument naming convient in a contributor.md

My vote go for: `source`, `target` if there is no ambiguity. Otherwise, `sourceIn`, `sourceOut`, `targetIn`, `targetOut`.

I also prefer `update` for `TargetIn => TargetOut` or `TargetIn => F[TargetOut]`
and `predicate` for `Target => Boolean`

BTW, I think it should be `PLens[SourceIn, SourceOut, T

[2021-02-11 17:54] julien-truffaut commented on #1023
[code]

I am not sure how should we call `foo`.

[2021-02-11 18:12] julien-truffaut commented on #1049
It is likely we will have some issues with cats typeclasses beeing invariants like `Functor` or `Applicative`. We need to use `@uncheckedVariance` annotations.

[2021-02-11 22:37] kenbot opened #1052 "`as` Prism that performs a downcast"
Something like
[code]

Also add syntax extension methods on to the optics, in the style of `each`, `some`, `index`, etc. Also, on to the `ApplyXXX` versions.

It should commute with the Focus macro such that `Focus[Foo](_.bar.as[Baz]) == Focus[Foo](_.baz).as[Baz]`

[2021-02-13 04:22] kenbot opened #1054 "Communication strategy"
I think the website, scaladoc, code/variable naming, import interface and compiler error messages all have to form one coherent, clearly stated communication strategy for 3.0 release. They all have to make sense with respect to each other, not just themselves.

[2021-02-13 05:14] #1028 closed

[2021-02-13 12:50] yilinwei commented on #1023
Possibly `first`?

[2021-02-13 13:12] julien-truffaut commented on #1023
@yilinwei there is already a `first` method on some optics, though I am not sure it is very useful

https://github.com/optics-dev/Monocle/blob/master/core/shared/src/main/scala/monocle/Lens.scala#L77

[2021-02-13 13:38] julien-truffaut commented on #1054
Yeah I completely agree. I think what is important is to define a pattern, e.g. select a few features/optics/methods and write the sort of documentation we expect to get for the rest of the library.

For example, it would be great to create a section on the website documenting all the `Optics Builder` methods. This would include code example, is it available via Focus macro, conditions etc

### so

[2021-02-13 16:01] julien-truffaut commented on #1054
@kenbot do you have an idea how should we do this and communicate about it?

[2021-02-13 16:33] julien-truffaut opened #1056 "[Focus] Mix Focus and standard optics"
`Focus` goal is to provide the best syntax for the most common use cases, but we know we will never cover all scenarios.

 So at some point, users may need to mix custom optics with `Focus`, currently they can use `andThen`:

[code]

While, it is not too bad, it might be worth adding two methods:
1. `andThen` inside of `Focus`, e.g.  `Focus[Foo](_.some.bar.andThen(customOptic))`
2. `focus` on opti

[2021-02-13 16:43] yilinwei commented on #1056
I think it's worth adding `1.` because it allows users to create their own keywords as 'first-class' into the DSL. But with our current encoding, it is a little cumbersome to do because the quasi-quotes only work with an inheritance based approach - any custom user actions will likely change until we're happy with the current optics encoding.

For 'normal' composition, I don't believe it is worth

[2021-02-13 16:47] julien-truffaut opened #1057 "[Website] Landing page"
This ticket is part of a full revamp of the microsite. The goal, here, is to define what info should we put on the landing page.

## 1. Short description (one liner)

Maybe add a code example to give a quick idea of how to use Monocle. For example
[code]

## 2. Installation

How to add Monocle to their build using `sbt`. Optional add other build tools (`mill`, `gradle`).

[code]

## 3. Copyright a

[2021-02-13 17:39] yilinwei commented on #1023
I think those look like generic `Profunctor` method which isn't too useful while you're dealing with a concrete optic.

What about `filter1` and `filterIndex1`, or something closer to the stdlib like `findFirst`?

[2021-02-14 12:51] #1057 closed

[2021-02-15 00:37] yilinwei commented on #1013
I think this would be better - non-laziness for this type of operation is really unexpected.

[2021-02-15 10:35] julien-truffaut commented on #1013
@yilinwei Yeah I agree. Are you ok with exposing an `Iterator`? I think it is simple and does the job.

[2021-02-15 11:30] romainreuillon opened #1061 "Release for Scala 3.0.0 M3"
Dear Monocle Devs,

from what I have read in the doc monocle is released for scala 3.0.0 M3. However, I cannot find monocle dependency for scala 3.0.0-M3 in maven central: https://repo1.maven.org/maven2/com/github/julien-truffaut/

Is it a the place right place to look for it?

Best regards,
Romain

[2021-02-15 11:35] julien-truffaut commented on #1061
Hi Romain, sorry for the confusion. I updated the website too early, there is no version release for Scala 3.0.0-M3 yet.

The latest version currently available is https://github.com/optics-dev/Monocle/releases/tag/v2.1.0

We intend to release the first milestone of Monocle 3.0.0 by Wednesday this week. It will be available for Scala 3.0.0-M3 and Scala 2.13.

[2021-02-15 11:45] romainreuillon commented on #1061
Dear Julien,

thanks for your answer. I'm eager to try this new version !

FYI just a bit of context: we implement large simulation model (million of agents and million of cells) and Monocle is a very elegant way to compress the model data while keeping the code logic readable. An example of that can be found here: https://github.com/eighties-cities/h24/blob/master/src/main/scala/eighties/h24/soci

[2021-02-15 11:52] julien-truffaut commented on #1061
That sounds awesome. I will update this ticket as soon as the new version is released.

FYI, I am going to present Monocle 3 on Thursday: https://www.meetup.com/Scala-Berlin-Brandenburg/events/275841617/

[2021-02-15 11:53] romainreuillon commented on #1061
Great ! Thank for the link.

[2021-02-16 09:51] julien-truffaut opened #1064 "Focus[X](_) as beginner-friendly version of `Iso.id[X]`"
The idea is to delay the moments users need to learn about specific optics type.

[2021-02-16 18:15] #1041 closed

[2021-02-16 23:45] yilinwei commented on #1013
I took a quick look at the issues in cats, since I remember they had some issues with it.

I don't _think_ we'll run into this issue as long as `S => Iterator[A]` returns a fresh instance of an iterator.

[1] https://github.com/typelevel/cats/issues/1716

[2021-02-17 11:00] julien-truffaut commented on #1023
[code]

`filter` doesn't work well with type inference. Scala cannot figure out the expected type of `predicate`. We have a similar problem with `filterIndex((key: Int) => key > 5)`, we need to annotate `key`.

[2021-02-17 11:06] julien-truffaut opened #1070 "Release for Scala 3.0.0-RC1"
There is a regression in macro

https://github.com/lampepfl/dotty/issues/11437

[2021-02-17 12:37] kenbot opened #1071 "[Focus] Property based tests for Focus laws"
1. Applied/unapplied symmetry
`Focus[A](_.actions).command(a) == a.focus(_.actions).command`

2. Internal/external operator symmetry
`Focus[A](_.actions.keyword) == Focus[A](_.actions).keyword`

3. Internal/external composition symmetry
`Focus[A](_.action1.action2) == Focus[A](_.action1).andThen(Focus[B](_.action2))`

4. Internal/external composition associativity
`Focus[A](_.action1.action2).andT

[2021-02-17 13:18] #1027 closed

[2021-02-17 13:56] #1029 closed

[2021-02-17 14:47] joroKr21 commented on #1064
I think `Focus[Foo](_)` is just shorthand for `x => Focus[Foo](x)` so I guess not quite the same as `Focus[Foo](a => a)`

[2021-02-17 16:17] julien-truffaut opened #1075 "Upgrade to docusorus v2 for Scala 2/3 code samples"
Docusaurus v2 lets us define code samples in tabs, so we could have one tab for Scala 2 and one for Scala 3.

https://v2.docusaurus.io/docs/markdown-features#customizing-tabs

[2021-02-17 17:33] julien-truffaut opened #1076 "Add Monocle to dotty community build"
https://github.com/lampepfl/dotty/blob/master/community-build/README.md

[2021-02-18 10:06] julien-truffaut commented on #1064
On a related topic, I think we should rename the syntax method that transform an `A` into a `ApplyIso[A, A]`
https://github.com/optics-dev/Monocle/blob/master/core/shared/src/main/scala/monocle/syntax/Apply.scala#L29

Instead of `optics`, it should be `focus`.

This should be consistent with the `Focus` constructor:

1. `user.focus` and `Focus[User]`
2. `user.focus()` and `Focus[User]()`
3. `user.

[2021-02-18 15:39] julien-truffaut commented on #1061
@romainreuillon It is available. Here is the release note:

https://github.com/optics-dev/Monocle/releases/tag/v3.0.0-M1

[2021-02-18 15:42] romainreuillon commented on #1061
:+1: :champagne:

[2021-02-18 19:08] dotbg commented on #1076
I will take this.

[2021-02-18 19:27] yilinwei opened #1080 "Properly match on the actual `KeywordContext` symbol"
Currently we're matching on `Ident` and strings; we should definitely be matching on specific symbols instead.

[2021-02-19 16:02] julien-truffaut commented on #996
I made some progress but unfortunately it doesn't look good.

As @tpolecat told me in gitter, Scala doesn't accept narrowing on inputs https://gitter.im/scala/scala?at=602fd83b9ba13e72e43d7ea1

We could get around that by defining two version of `modifyF` for `Lens`, one that takes a `Functor` and one that takes an `Applicative` and write one in terms of the other. This trick works if all the argu

[2021-02-19 16:17] julien-truffaut commented on #996
Since there is only one method affected:  `modifyF`, maybe we could consider tto remove the overload and do:
[code]

but I am not sure how to call `foo` and `bar`

[2021-02-19 18:33] joroKr21 commented on #996
`modifyF -> Functor` and `modifyA -> Applicative`

[2021-02-21 09:33] #1030 closed

[2021-02-21 11:21] #426 closed

[2021-02-21 11:52] #746 closed

[2021-02-21 11:53] #1022 closed

[2021-02-21 12:37] #498 closed

[2021-02-21 14:10] julien-truffaut commented on #996
Inheritance is overloading some methods because they have slightly different shape for optics with 2 or 4 type parameters, see https://github.com/optics-dev/Monocle/pull/1082.

[2021-02-21 21:58] julien-truffaut commented on #1043
I updated the link and comment.

[2021-02-22 08:28] julien-truffaut commented on #1043
Good idea, but now I am questionning the use case. I am not entierly sure how this is used in practice and if it still makes sense.

[2021-02-22 14:00] vaslabs opened #1087 "Question: Would you consider implementing some cats instances for optics?"
Hello,
I understand that my use case maybe a bit peculiar but anyway, long story short I needed to do something like
[this](https://github.com/vaslabs/Monocle/commit/5216d912ce415a81f230ff701b08c6339738f5c4#diff-007ad103a52ea4afe202ac763485c26b2e5a3bf397696e5af026676455d08ff3R73)

Which needed `Invariant[Lens]` and `Semigroupal[Lens]` (or InvariantSemigroupal but I kept them separate in this linke

[2021-02-22 20:58] julien-truffaut commented on #1087
Hey @vaslabs and thanks for the question.

We were planning to add similar functionalities https://github.com/optics-dev/Monocle/issues/1019

The benfit of using cats `Semigroupal` is that we get all the syntax out of the box but we need an extra import for cats syntax. I don't have a strong opinion about it.

We already have cats instances within the `core` module, e.g. `Choice[Lens]`

[2021-02-22 22:20] vaslabs commented on #1087
Thanks for the response.

I've just read #1019 , this is a bit different than zip (I think) as it gives all the syntax from cats (including mapN, map2 and anything derived from semigroupal and invariant)

But what you mention is a bit worrying:

Please excuse my ignorance here , but what does it mean for Lenses to intersect? Could you give some pointers to see if I manage to replicate this breakin

[2021-02-23 09:23] julien-truffaut commented on #1087
Sorry I didn't give you enough context, I recently made a presentation where I show the potential issue with `zip` , slide 72 to 79: https://blog.fp-tower.com/monocle-3-a-peek-into-the-future/#72

IMO, `tupled` is completely fine, but I don't think `mapN` is possible, here is a counter example:
[code]

What we would need is `mapN` to take an `Iso` not a single function.

I think that's completely

[2021-02-23 10:39] vaslabs commented on #1087
thanks for the pointers, I'll read up and send a PR (probably next week)

[2021-02-23 11:06] vaslabs commented on #1087
Ah yeah, actually it's imapN that works because it's easy to have an Invariant but probably you can't prove Lens is a Functor. Probably easy though for `Getter`

[2021-02-23 12:47] kenbot opened #1092 "[Focus] Direct support for tuples fields _1, _2, etc"
We should support `_1`, `_2` etc inside the Focus macro for tuples automatically. Currently this doesn't work

[2021-02-23 15:19] #1031 closed

[2021-02-23 15:49] #1092 closed

[2021-02-24 07:56] julien-truffaut commented on #1033
Without common method, I don't think we can get code completion from IDE. At least, I don't see another way.

[2021-02-24 08:57] julien-truffaut commented on #1064
I propose to remove `optics` and replace it by `focus`. I don't think we need a deprecation cycle for something introduced within a milestone.

I don't have a strong opinion with regards to parens. Maybe no parens is most standard in Scala. One thing to check is that it doesn't confuse the compiler so that a user can go from `.focus` to `.focus(_.foo)` without extra import.

[2021-02-24 08:58] julien-truffaut commented on #996
Implemented in #1088

[2021-02-24 08:58] #996 closed

[2021-02-24 08:58] #1061 closed

[2021-02-24 08:59] julien-truffaut commented on #1020
Implemented in #1021

[2021-02-24 08:59] #1020 closed

[2021-02-25 09:42] #1064 closed

[2021-02-26 09:03] julien-truffaut commented on #1076
We just merged a fix for Scala 3 RC1, it should be possible to add Monocle to the community build. Let me know if you have any problem.

[2021-02-26 09:18] julien-truffaut opened #1103 "Doc is failling for Scala 3"
https://github.com/optics-dev/Monocle/runs/1986252174

[code]

[2021-02-26 20:54] julien-truffaut commented on #1103
fixed by https://github.com/optics-dev/Monocle/pull/1104

[2021-02-26 20:54] #1103 closed

[2021-02-27 10:44] Michaelt293 opened #1105 "Safe and unsafe zip on Getter"
I was recently looking through a presentation on Monocle 3 and saw the following issue with `zip` - https://blog.fp-tower.com/monocle-3-a-peek-into-the-future/#75.

I was wondering, if we have evidence that the target types for the two `Getter`s are different, than the resulting `Getter`  should always be lawful.

[code]

Trying to compile with `nameAndName` gives the following error -
[code]

Edi

[2021-02-27 11:09] julien-truffaut commented on #1105
Np, `zip` is safe for `Getter` because `Getter[S, A]` is a fancy wrapper over `S => A`.
The problem is for `Lens` where you can `modify`  the target. Maybe if we could keep track of the path within the data structure... Anyway I don't think it is worth the effort :)

[2021-02-27 11:09] #1105 closed

[2021-03-02 08:53] #1087 closed

[2021-03-05 22:31] #1052 closed

[2021-03-06 09:33] #1032 closed

[2021-03-06 22:19] julien-truffaut commented on #1070
done with M3

[2021-03-06 22:19] #1070 closed

[2021-03-06 22:27] julien-truffaut commented on #1042
Sorry I was wrong, the API for `GenIso` in Scala 2 is `GenIso[IntWrapper, Int]` and not `GenIso[IntWrapper](_.value)` where
[code]

I am tempted to close this ticket as `wontfix`. I don't believe `GenIso[A, B]` was used very much and we can point people to `Focus` instead.

[2021-03-07 17:04] julien-truffaut commented on #1042
Yeah I think so. Closing it.

[2021-03-07 17:04] #1042 closed

[2021-03-07 21:11] dotbg commented on #1076
Hi @julien-truffaut,
I used lates master, but the `coreJVM/test`  fails with the following

[code]
relevant Pull Request: lampepfl/dotty#11468

[2021-03-08 18:48] julien-truffaut commented on #1076
It looks like the `as` feature in `Focus` is broken in latest dotty version.

[2021-03-11 23:46] dotbg commented on #1076
@kenbot  it is latest dotty master (Scala version to 3.0.0-RC2-bin-SNAPSHOT).
Perhaps, it is easier to use the [dotbg:added-monocle](https://github.com/dotbg/dotty/tree/added-monocle) branch.

The dotty failure suggests the following steps:

[code]
note: /__w/dotty/dotty is the checkout directory location.

running the
[code]
may be required as well

I just ran the monocle test from the [Community

[2021-03-12 12:30] kenbot opened #1122 "[Focus] Improve error standard"
- [ ] Add line numbers for compiler errors in Focus block, so it points to the right spot
- [ ] Generator errors resulting in `Nothing` should be intercepted before they are composed, and an appropriate error message reported
- [ ] PBTs for Focus laws #1071

[2021-03-12 12:35] julien-truffaut commented on #1043
@japgolly suggested to look at `Tuple.fromProductTyped` and `summon[Mirror.Of[A]].fromProduct`

[2021-03-12 21:35] japgolly commented on #1043
Good morning! It's a Sat morning over here so I decided to give this a try myself and it turned out to be very easy. I am very impressed with Scala 3!

[code]

[2021-03-30 15:27] julien-truffaut commented on #1076
Surprisingly, build is green for RC2 https://github.com/optics-dev/Monocle/pull/1132

[2021-04-10 12:13] dotbg commented on #1076
I have updated my PR

[2021-05-27 15:17] julien-truffaut opened #1161 "Update the organisation to optics.dev"
A few people asked me if we are going to update the organisation name. Monocle 3 is definitely the best time to do it.

I haven't created a sonatype account for ages, I am not sure what the process is. If anyone has links or would like to pick up the task, that would be awesome!

[2021-05-28 07:33] julien-truffaut commented on #1161
I created a ticket to sonatype https://issues.sonatype.org/browse/OSSRH-69548

[2021-05-29 09:19] armanbilge commented on #1161
If you created a new Sonatype account, it might be using [their new domain](https://central.sonatype.org/news/20210223_new-users-on-s01/) s01.oss.sonatype.org. So you need to specify this in the `build.sbt`:

[code]

[2021-05-29 19:56] julien-truffaut commented on #1161
@armanbilge Cheers, I tried that but it seems that it doesn't update the publication. Maybe I need to put those settings somewhere else?
https://github.com/optics-dev/Monocle/blob/master/build.sbt#L14-L15

[2021-05-30 09:33] julien-truffaut commented on #1161
Fixed thanks

[2021-07-04 13:54] kenbot opened #1173 "Focus type can't be inferred on this in a class member"
Standalone this works:
[code]
However it fails when the focus is on `this`:
[code]
It works with explicit return type:
[code]

[2021-07-15 08:48] romainreuillon opened #1177 "Type aliases and Focus are not friends in scala 3"
Dear Devs,

using monocle 3.0.0 and scala 3.0.1-RC2

Using Focus on type aliases with type parameter seem to pose some problems to monocle 3.0.0.

For instance, this code
[code]

Raises the following error message:
[code]

And this code:
[code]

Raises this error message:
[code]

Best,
Romain

[2021-07-16 17:17] dotbg commented on #1076
It was approved. I expect it to be merged soon https://github.com/lampepfl/dotty/pull/11468

[2021-07-17 11:25] dotbg commented on #1076
merged https://github.com/lampepfl/dotty/pull/11468

[2021-07-20 07:39] #1177 closed

[2021-07-21 14:58] Lermex opened #1181 "Recommended replacement for @Lenses"
Am I right to assume that using Focus at all use sites instead of lenses pre-generated with the `@Lenses` annotation is gonna affect compilation times in the same way e.g. using circe.auto instead of circe.semiauto does? If so, what's the recommended approach here?

Should I replace @Lenses with something like `val lens = GenLens[MyClass]` in the `MyClass` companion object?

Is there a plan to sup

[2021-07-22 06:48] #1076 closed

[2021-07-22 16:10] cquiroz opened #1183 "Compilation error when importing cats.syntax.all"
It is common that we use monocle and cats together, I noted some of the examples fail to compile when I also have imported `cats.syntax.all._`

It is hard to tell if this is an actual error in Monocle or we should recommend some particular way to do the cats import

See
https://scastie.scala-lang.org/cquiroz/zYAqjfE5R4Gee20gpBcy9Q/5

[2021-07-22 20:48] yilinwei commented on #1181
Rather than compile-times (it's fairly fast), you'll get code blow up since it generates an in-line method each call-site; YMMV as to whether you care or not.

You can use the `Focus` object or `GenLens` to share the optic. Your snippet is probably what I would do.

I don't understand what `derives` support would entail. Could you please elaborate?

[2021-07-26 08:23] julien-truffaut commented on #1183
Arf I thought we would catch these sorts of issues in our tests.

@kenbot Yes, we are part of Typelevel and most importantly, we depend on cats, so we should avoid these situations.

Let's check if it is possible to implement `index` as a method of all optics. Otherwise, we could rename it to `idx` or something similar. WDYT?

[2021-07-26 10:57] Lermex commented on #1181
Presumably, you would be able to write

[code]

and then either do `MyClass.fieldOne` or `MyClass.lens.fieldOne` to access the lens for a particular field

[2021-07-26 13:26] julien-truffaut commented on #1183
I believe I used extension methods because the signature on the optics class was extremely complex (lots of `A =:= B`, `S =:= T` etc). There were some corss compilation issues with Scala 3.
It is worth giving it a another try though.

[2021-07-27 07:51] #1056 closed

[2021-07-31 04:31] japgolly commented on #1043
Crap, I just ran into a lack of this in a library I'm trying to cross-compile :( Would the be any objections to me raising a PR for this? (Note: that this still exists in the Scala 2.12 buid)

[2021-07-31 06:34] julien-truffaut commented on #1043
Sure

On Sat, 31 Jul 2021 at 05:32, David Barri ***@***.***> wrote:

--
Julien Truffaut
Tel : +44 7743 449664

[2021-08-02 00:44] japgolly commented on #1181
@Lermex I don't think it works that way. IIUC `derives Lenses` would result in `val lenses = Lenses.derived[MyClass]` to be added to `object `MyClass`. I don't think it has the capability to add multiple named fields to `object `MyClass` unfortunately. (Would be awesome though!)

[2021-08-02 00:49] japgolly commented on #1043
Sorry @kenbot, I'm not sure what you mean by the first part of this; I don't know what you mean by a "Focus keyword". But as to the second part, `GenIso` seems like a good idea to me because there's already an established pattern of `monocle.marcos.GenXxxx`. Also, in Scala 2 there are other methods (from memory) in `GenIso`. Does this info change anything or are you still a bit concerned?

[2021-08-02 00:57] japgolly commented on #1043
@kenbot  lol no wait! I just started looking at the code and I see there's a `monocle.Focus` thingy! I don't know how it works but I think I understand you a bit more now. Hmmmm, you know what? I'll take you up on the *"Go ahead with the PR"* and once it works we can think about refactoring it into the `Focus` machinery then. Thanks Ken :D

[2021-08-04 10:06] JonyEpsilon opened #1188 "Cannot generate lens for case classes inheriting traits"
I had expected the following would be possible:

[code]

but it fails with message `Cannot generate Lens for field 'name', because 'jstar.scratch.Animal' is not a case class`.

It feels like this is a reasonable way to arrange case classes, so I wonder if there's a way to support generating lenses in this situation?

[2021-08-04 10:22] #1161 closed

[2021-08-04 10:24] julien-truffaut commented on #1188
There is a feature request for this use case https://github.com/optics-dev/Monocle/issues/1033

[2021-08-04 15:10] JonyEpsilon commented on #1188
Ahh, I didn't twig that that was the same issue from the title. Will close this one as a dupe.

[2021-08-04 15:10] #1188 closed

[2021-08-16 17:59] kory33 opened #1190 "TraversalLaws.headOption invalidated for underlying null values"
On Monocle 3.0.0, the following code ([Scastie](https://scastie.scala-lang.org/ZaTlfW7ITema2v6kHCJkqQ)) produces `IsEq` with different `lhs` and `rhs`:

[code]

Simply replacing [`Option(_)`](https://github.com/optics-dev/Monocle/blob/26b276f6c29f34e693ff44f54171e5348390eed1/core/shared/src/main/scala/monocle/Fold.scala#L40-L46) with `Some(_)` should solve this.

[2021-08-16 18:16] julien-truffaut commented on #1190
Hi Kory, thanks for the ticket.

Monocle like most fp libraries don't handle null. In effect, we do as if null didn't exist in scala.

[2021-08-16 18:33] kory33 commented on #1190
Hmm I see the rational, I still think using `Some(_)` is better (since, to me, `Option(_)` has a connotation of handling `null`s), but closing the issue if the law is not seen as invalidated. Thank you for the response anyway!

[2021-08-16 18:33] #1190 closed

[2021-08-22 12:18] #1043 closed

[2021-09-01 13:41] kenbot opened #1200 "MatchError using `as` inside Focus"
Playing with this codebase: https://github.com/bblfish/lens-play/blob/master/src/main/scala/server/Server.scala
[code]

[2021-09-03 01:28] kenbot opened #1201 "Focus has trouble inferring index for types with existential parameter"
For example:

[code]

[2021-09-04 12:18] #1201 closed

[2021-09-10 19:04] julien-truffaut opened #1205 "Add refocus for Scala 2"

[2021-11-20 09:18] justjoheinz opened #1229 "maven badge on website"
The maven-central  badge on https://www.optics.dev/Monocle/ is still pointing to the old monocle libraries by Julien.

[2021-12-01 18:12] julien-truffaut commented on #1229
Thanks for pointing it out! I knwo how to change the link, but I am not sure how to change the badge.
Help is welcome!

[2021-12-03 12:22] #1229 closed

[2022-02-05 15:12] NTPape opened #1259 "Compilation error with context bounds"
Hello there!

Compilation of the following code will fail

[code]

in Scala 3 with the following error
[code]

and in Scala 2.13 with
[code]

Interestingly, the last version that appears to work is 1.5.1-cats on Scala 2.11 (but not on Scala 2.12.)

[2022-02-19 20:36] NTPape commented on #1259
I had a look into the issue in **Scala 2.13** and as far as I can see the issue is located in the lens's modifyF method because it has a context bound for cats.Functor. Due to macro magic, the Functor evidence is named like it were the first evidence in the source file, i.e. like the evidence for Foo of the enclosing class A, so the evidence for Foo is shadowed and hence unavailable in modifyF's f

[2022-02-20 20:05] julien-truffaut commented on #1259
Thanks for investigating. Do you think it will solve the problem if we change https://github.com/optics-dev/Monocle/blob/master/macro/src/main/scala-2.x/monocle/macros/internal/Macro.scala#L100

from:
[code]
to:
[code]

[2022-02-20 23:26] NTPape commented on #1259
I suggest using a freshName too, to make a shadowing conflict less likely. I created a (naive) PR accordingly.

[2022-02-21 11:42] julien-truffaut commented on #1259
Good call, I completely forgot about `freshName`. Do you want me to cut a release with this fix?

[2022-02-22 23:18] NTPape commented on #1259
Thanks for the quick merge! A release for this fix is not needed from my end.
I'm also trying to look into the issue in Scala 3.

[2022-02-27 08:46] NTPape commented on #1173
FYI: This was fixed in Scala 3.0.2, most likely via pull-request 12873.

[2022-02-28 12:12] #1173 closed

[2022-03-11 22:13] NTPape commented on #1200
I tried to but could not reproduce the issue from the opening post. Here is also a somewhat minimized version:

[code]

[2022-07-29 16:59] rpiaggio opened #1293 "[Focus] Compilation fails in Scala 3 in nested case class/object"
With Monocle 3.1.0,

[code]

fails with
[code]

[2022-09-26 00:19] kubukoz opened #1301 "Bring back Native support?"
Hi! With the recent activity around Scala Native in the Typelevel ecosystem, I was wondering if you'd consider adding back Scala Native. What do you think?

[2022-09-26 07:02] julien-truffaut commented on #1301
Hi Jakub, I am not hostile to bringing back Scala Native but I would like for someone to be responsible of its maintenance.

[2022-10-11 19:40] armanbilge commented on #1301
@julien-truffaut I'm happy to take responsibility for maintenance, if you are open to adopting [sbt-typelevel](https://typelevel.org/sbt-typelevel/) for your build. It significantly reduces the maintenance effort for OSS and cross-building.

[2022-10-11 19:44] armanbilge opened #1306 "Ambient `opaque type` breaks `GenLens`"
[code]

[code]

[2022-10-13 14:08] armanbilge commented on #1301
@julien-truffaut it's currently used by more than 200 projects, including all active Typelevel and Http4s projects.

Here's a rough list:
https://github.com/typelevel/download-java/network/dependents

[2022-10-13 14:11] julien-truffaut commented on #1306
Users aren't expected to use `MkFocus` directly. Do you have the same issue with `Focus`?

`Focus[Foo.Baz, String](_.id)`

It is really weird that a useless opaque type break the macro. Was it also the case in previous version of Scala 3?

Thanks for reporting the issue.

[2022-10-13 14:13] armanbilge commented on #1306
Right, sorry :) if you check the edit history the initial report was in terms of `GenLens`. Switching to `MkFocus` was intended as minimization.

I think so, but I will doube-check.

FWIW this is likely a compiler bug.

[2022-10-13 14:36] julien-truffaut commented on #1301
Awesome, so I am all for using it!

[2022-10-26 09:17] #1301 closed

[2022-11-14 12:14] GreyPlane opened #1318 "Plated.transformOf isn't working properly"
For simple tree-like data like `Json`, `Plated.transform` will ignore input if you pass the leaf node directly. Which is not the correct behavior according to other languages' implementations like Haskell.
After inspecting [lenses](https://hackage.haskell.org/package/lens-5.2/docs/src/Control.Lens.Plated.html#transformOf)' code, I'm afraid that Monocle's one isn't implemented properly.

[2022-11-14 14:01] xuwei-k opened #1320 "change branch protection rule"
I don't have permisson

- https://github.com/optics-dev/Monocle/pull/1307
- https://github.com/optics-dev/Monocle/pull/1310

![F688AA80-6C09-47EF-B6A4-76707016553B](https://user-images.githubusercontent.com/389787/201678871-ca75884a-3ae2-4a27-a276-77ca40655853.jpeg)

[2022-11-14 14:46] julien-truffaut commented on #1320
@xuwei-k what should I do?

[2022-11-14 17:24] armanbilge commented on #1320
@julien-truffaut look on this page:
https://github.com/optics-dev/Monocle/settings/branches

[2022-11-15 00:47] #1318 closed

[2022-11-15 15:38] julien-truffaut commented on #1320
@armanbilge thx, should be good now.

[2022-11-17 15:14] julien-truffaut opened #1325 "Prepare next release"
Here is the list of changes since 3.1.0: https://github.com/optics-dev/Monocle/compare/v3.1.0...master

We bumped the major version of the scala compiler to 3.2.1. I am not sure what is the impact.
I think the next version will be 3.2.0.

[2022-11-17 15:52] armanbilge commented on #1325
Yes indeed, I already bumped the "base version" in the `build.sbt` to reflect that.

https://github.com/optics-dev/Monocle/blob/9cfdb174cc55be3d8953243c192c141362cb9f38/build.sbt#L5

https://typelevel.org/sbt-typelevel/faq.html#what-is-a-base-version-anyway

[2022-11-26 19:47] armanbilge commented on #1325
I think before the next release, the `PGP_SECRET` needs to be updated. I believe it has expired based on the CI logs.

You can generate a new key here:
https://typelevel.org/sbt-typelevel/secrets.html#pgp-key

If you use the online key generator, make sure to delete the `PGP_PASSPHRASE` secret.

[2022-11-28 08:53] julien-truffaut commented on #1325
Thanks, I will regenerate one.